@use "../abstracts" as *;
// lấy các file từ _index.scss (forward tất cả file trong thư mục abstract) 
@use "../base" as *;
// navbar


// header

.header{
    
    padding-top: 17.6rem;
    margin: 0 auto; 
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // 2 cột bằng nhau
    column-gap: 3rem;
    // khoảng cách giữa các cột 3rem = 30px vì root: font-size: 10px
    &__left{
        align-self: center;
        display: flex;
        flex-direction: column;

        &-title{
            @include h1font;
        }
        &-desc{
            @include descText;
        }
        &-btn{
            @include viewMenuBtn;
            margin-top: 3.2rem;
            
            a{
               @include label;
            }
            img{
                
                color: #2E2D33;
            }
            
        }
        &-info{
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            margin-top: 4rem;
            &-item{
                .info-title{
                    @include h4font;
                }
                .info-desc{
                    @include paragraph;
                    opacity: 0.6;
                }
            }
        }
    }
    &__right{
        overflow: hidden;
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
        img{
            width: 100%;
            transition: .3s;
        }
    }
    
    @media (max-width: 1024px) {
        // padding: 0 5rem;
        padding-top: 16rem;
    }

    @media (max-width: 960px) {
        grid-template-columns: 1fr;
        row-gap: 3.2rem;
    }
    
}

// know more 

.know-more{
    // padding: 0 16rem;
    padding-top: 16rem;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    
    &__left {
        // width: 100%;
        .feature {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 4rem;
            column-gap: 3.2rem;
            &__card {
                &-top {
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;
                    &-title {
                        display: inline-block;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 36px;
                        color: #C4E4EA;
                    }
                }
                p {
                    @include descText;
                }
                &-desc {
                    margin-top: 1.5rem;
                    @include descText;
                }
            }
            

        }

    }
    &__right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 6.5rem;
        .box-img-1, .box-img-2{
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
        .box-img-1 {
            align-items: flex-end;
        }
        .box-img-2 {
            align-items: flex-start;
        }
        
    }
    @media (max-width: 1183px) {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        &__left{
            .feature {
                grid-template-columns: 1fr 1fr;
                row-gap: 3.2rem;
            }
        }
        &__right {
            display: flex;
            justify-content: center;
            .box-img-1,.box-img-2 {
                display: flex;
                justify-content: center;
                width: auto;
                
            }
        }
    }
    @media (max-width: 1024px) {
         
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            &__left{
                .feature {
                    grid-template-columns: 1fr 1fr;
                    row-gap: 3.2rem;
                }
            }
            &__right {
                display: flex;
                justify-content: center;
                .box-img-1,.box-img-2 {
                    display: flex;
                    justify-content: center;
                    width: auto;
                    
                }
            }
        
    }
    
    @media (max-width: 740px) {
        &__left {
            .feature {
                grid-template-columns: 1fr;
                row-gap: 3.2rem;
            }
        }
        &__right {
            display: flex;
            row-gap: 3.2rem;
            flex-direction: column;
            .box-img-1,.box-img-2 {
                // height: fit-content;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 40rem;
                }
            }
            
        }
    }
}

// serving

.serving {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    margin-top: $mt-top;
    &-top {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        &__right{
            display: flex;
            align-items: center;
            p{
                @include descText;
                padding-left: 5.8rem;
                margin-top: 5.8rem;
                
            }
        }
    }
    &-bottom {
        margin-top: 6.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1px;
        background-color: #151217;
        &__card {
            display: flex;
            flex-direction: column;
            padding: 6.4rem;
            // column-gap: 0.2rem;
            // &:nth-child(2) {
            //     border-right: 1px solid rgba(255, 255, 255, 0.06);
            // }
            .icon-img {
                height: 4.8rem;
                width: 4.8rem;
            }
            p {
                @include descText;
                margin-top: 1.2rem;
            }
        }
    }
    @media (max-width: 1024px)  {
        &-top {
            display: flex;
            flex-direction: column;
            &-bottom {
            grid-template-columns: 1fr 1fr;
            row-gap: 3.2rem;
        }
            p {
                padding-left: 0;
                margin-top: 3.2rem;
            }
        }
        &-bottom {
            grid-template-columns: 1fr 1fr;
            row-gap: 3.2rem;
        }
    }
    
    @media (max-width: 740px) {
        &-bottom {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1.6rem;
            &__card {
                border-bottom: #B8B8B8 solid 1px;
            }
        }
    }
}

// menu

.menu {
    margin: 0 auto;
    margin-top: $mt-top;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-top{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        &__left{
            .h2heading {
                padding-right: 16rem;
            }
            .h5heading {
                @include h5font;
                margin-top: 3.2rem;
            }
        }
        &__right{
            display: flex;
            align-items: center;
            
            p{
                @include descText;
                padding-left: 5.8rem;
                // margin-top: 3.8rem;
            }
        }
    }
    &-bottom {
        display: grid;
        width: 100%;
        margin-top: 8rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3.2rem;
        &__card {
            display: grid;
            grid-template-columns: 1fr;
            .menu-img {
                width: 100%;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .menu-content {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                background: #1F1D21;
                width: 100%;
                padding: 2.4rem 2.4rem 2.4rem 3.2rem;
                justify-content: space-between;
                .h4heading {
                    opacity: 0.87;
                }
            }
        }
        
        @media (max-width: 960px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 1024px) {
        &-top {
            grid-template-columns: 1fr;
            row-gap: 3.2rem;
            &__right {
                p {
                    padding: 0;
                }
            }
        }
        &-bottom {

            grid-template-columns: 1fr 1fr;
            row-gap: 3.2rem;
        }
    }
    @media (max-width: 760px) {
        &-bottom {
            grid-template-columns: 1fr;
            row-gap: 3.2rem;
        }
    }
}

// quote

.quote {
    background: #1F1D21;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    // max-width: 1280px;
    width: 100%;
    margin-top: $mt-top;
    
    padding-right: 0;
    width: 100%;

    &__left {
        // flex-grow: 4;
        
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 8rem 8rem 3rem 8rem;
            &-top {
                p {
                    font-family: 'Gilroy-Bold';
                    font-size: 72px;
                    line-height: 92px;
                    color: #FFFFFF;
                }
                .quote-content {
                    font-family: 'Playfair Display';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2.4rem;
                    line-height: 48px;
                    color: #FFFFFF;
                    opacity: 0.87;
                }
            }
            &-bottom {
                padding: 8rem 0 2.2rem;
                display: flex;
                justify-content: space-between;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border: 1px solid #FFFFFF;
                    opacity: 0.24;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0; 
                    
                    width: 48px;
                    right: 0;
                    border: 2px solid #FFFFFF;
                    
                }
                .quote-author-info{
                    display: flex;
                    flex-direction: column;
                    
                    p:first-child {
                        @include label;
                        color: #FFFFFF;
                        opacity: 0.87;
                    }
                    p:last-child {
                        @include label;
                        color: #FFFFFF;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    &__right {
        // flex-grow: 6;
        display: grid;
        width: 100%;
        height: 100%;
        &-box {
            display: flex;
            position: relative;
            cursor: pointer;
            width: 100%;
            height: 100%;
            overflow: hidden;
            &:hover {
                .video {
                    transform: scale(1.1);
                }
            }
            
            // }
            .video {
                cursor: pointer;
                transition: .3s;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
            .play-video {
                display: flex;
                height: 6.4rem;
                width: 6.4rem;
                position: absolute;
                justify-items: center;
                align-self: center;
                left: 50%;
                
            }
        }
    }
    @media (max-width: 1460px) {
        &__left {
            &-container {
                padding: 5rem 3rem 5rem 5rem;
            }
        }

    }
    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        &__right {
            &-box {
                .play-video {
                    width: 4.8rem;
                    height: 4.8rem ;
                }
            }
        }
    }
    @media (max-width: 550px) {
        grid-template-columns: 1fr;
        &__right {
            &-box {
                .play-video {
                    width: 3.6rem;
                    height: 3.6rem;
                }
            }
        }
    }
}

//blog

.blog {
    margin: 0 auto;
    margin-top: $mt-top;
    max-width: 1280px;
    width: 100%;
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3.2rem;
        padding-top: 6.4rem;
        &__item {
            background-color: #1F1D21;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                &:hover {
                    background-color: #151217;
                }
                
                    .date {
                        padding: 3.2rem 3.2rem 0.8rem 3.2rem;

                        color: #B8B8B8;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                    }
                    .h3heading {
                        // margin: 0.8rem 0 1.6rem;
                        padding: 0 3.2rem 1.6rem 3.2rem;

                    }
                    .paragraph {
                        @include paragraph;
                        padding: 0 3.2rem 3.2rem 3.2rem;
                    }
                    .blog-list__item-img{
                        display: grid;
                        width: 100%;
                        img {
                            width: 100%;
                            object-fit: contain;
                            height: 100%;
                        }
                    }
                
            }
        }
    }
    @media (max-width: 1024px) {
        &-list {
            grid-template-columns: 1fr 1fr;
            row-gap: 3.2rem;
        }
    }
    @media (max-width: 740px) {
        &-list {
            grid-template-columns: 1fr;
        }
    }
}

